.header {
    display: flex;
    background: #ccc;
    height: 150px;
    transition: top ease 0.7s;
    transform: translateY(-90px);
}

.header:hover {
    transition: bottom ease 0.7s;
    transform: translate(0);
}

.item {
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    color: black;
}

.item:hover {
    font-weight: bold;
}

.active {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    color: black;
}

